body{
    text-align: center;
    background: linear-gradient(to right,white, blue);
    letter-spacing: .3cm;
    color: rgba(0,0,0,.5);

}

#ppp{
    font-size: 19px;
    letter-spacing: 0em;
    color: rgba(0,0,0,.6);

}
h1{
     
    font: 600 2em 'raleway', san-serif;

}
.clickme{
    padding: 1em;
    border: none;
    border-radius: .3em;
    font-size: 1em;
    color: royalblue;
    font-weight: 700;
}
.reveal{
    background: rgba(0,0,0,.6);
    width: 60%;
    margin: 1em auto;
    color: white;
    letter-spacing: 0.1em;
    padding: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: .5em;
    display: none;
    
    
}
.showme{
    display: block;
}

h3{
    
    font: 900 1em 'raleway', san-serif;


}